{% extends "base.html" %}

{% block containercontent %}
<h2>Step 2</h2>
<p>We've completed step 1 and are ready for you to authorize <strong>{{app_name}}</strong> (step 2)!
    Just click the button below, you'll be taken to Twitter to login (if you aren't already) and to grant access to
    <strong>{{app_name}}</strong>. Afterward you'll be redirected back to us.</p>
<p><a href="{{ authorize_url }}?oauth_token={{ oauth_token }}" class="btn btn-small btn-success">Authorize {{app_name}}</a></p>
{% endblock %}